# Python
*.pyc
*~
__pycache__

# Env
.env
myvenv/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/

bin/
include/
lib/
lib64/
pyvenv.cfg

# Database
db.sqlite3

# Static folder at project root
/static/

# macOS
._*
.DS_Store
.fseventsd
.Spotlight-V100

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

