{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <title>Create Workout Plan</title>
</head>
<body>
    <div class="section">
        <h2>Create a Workout Plan</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save Workout Plan</button>
        </form>
    </div>
    <script src="{% static 'js/index.js' %}"></script>
</body>
</html>
